<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", :autofocus => true %>
          </div>
          <div class="form-group">
          <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", :autofocus => true %>
          </div>
          <div class="form-group">
          <%= f.label :password %><i>( Leave blank if you don't want to change it.)</i>
          <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
          </div>

          <div class="form-group">
          <%= f.label :current_password %><i>( We need your current password to confirm changes.)</i>
          <%= f.password_field :current_password, class: "form-control" %>
          </div>

          <div class="form-actions">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
