<tr>
  <td><%= pin.description %></td>
  <td><%= link_to 'Show', pin %></td>
  <% if current_user == pin.user %>
  	<td><a href="#"><%= pin.user.name if pin.user %></a></td>
	  <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
	  <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>