<%= link_to '&laquo; Back' .html_safe, pins_path %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
      	<h1>New pin</h1>
      	</div>
      	<div class="panel-body">
					<%= render 'form' %>
      </div>
    </div>
  </div>
</div>