<%= link_to '&laquo; Back' .html_safe, pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><strong><%= @pin.user.name if @pin.user %></strong></p>
        <p><%= @pin.description %></p>

        <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %><span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
          <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %> <span class="glyphicon glyphicon-trash"></span> Delete 
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
