<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h1>Change your password</h1>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %>
            <%= f.password_field :password, class: "form-control", :autofocus => true %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>