<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
      	<h1>About my first web app!</h1>
      </div>
      <div class="panel-body">
				<p>Soon to be the home of ... something lol</p>
			</div>
		</div>
	</div>
</div>
