<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
		    <h1>Contact Us</h1>
		  </div>
		  <div class="panel-body">
				<p>Contact form will go here</p>
			</div>
		</div>
	</div>
</div>