#pins {
  margin: 0 auto;
}

.box {
	background: #fff;
	margin: 5px;
  padding: 40px 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: 214px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box img {
  width: 100%;
}

/*@media only screen and (max-width: 768px) {
    .box {
        width: 300px;
    }
}*/

@media only screen and (max-width: 500px) {
    .box {
        width: 270px !important;
    }
}