<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<small>
				<%= link_to "One Month Rails", "http://onemonthrails.com" %>
				by <%= link_to "PegasusTeam", "http://pegasusteam.com" %> &copy; 2015 
				</small>
			</div>
			<div class="col-md-6">
				<p class="navbar-right">
	      	<%= link_to 'About',  about_path %> | <%= link_to 'Contact',  contact_path %>
	      </p>
			</div>
		</div>
	</div>
</div>