<!DOCTYPE html>
<html>
	<head>
	  <title>My Omrails</title>
	  <%= stylesheet_link_tag    'application', media: 'all' %> <!--, 'data-turbolinks-track' => true -->
	  <%= javascript_include_tag 'application' %> <!--, 'data-turbolinks-track' => true -->
		<%= csrf_meta_tags %>
	  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
	</head>
	<body>
		<%= render 'layouts/header' %>
	<div class="container">

			<% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-warning") %>
            <% end %>

			<%= yield %>

			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
